---
title: MarketSentry
heroTitle: Hi investor,
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <script src="/scripts/asgardeo-spa.production.min.js"></script>
    <script src="/scripts/authentication.js" type="module"></script> 
  </head>
  <body>
  {% include "partials/navbar.njk" %}
  <section class="hero is-link">
    <div class="hero-body">
      <p class="title" id="page-hero-title">{{ heroTitle }}</p>
    </div>
  </section>
  <div class="container">
  {{ content | safe }}
  </div>
  {% include "partials/footer.njk" %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      document.getElementById("signout").addEventListener("click", function(ev){
          window.signout();
      });
      
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
  </body>
</html>